host = ""
port = ''
user =  ""
password =''
database = ""
NEXT_PUBLIC_API_URL = 'http://localhost:3000'

# TWILIO CREDENTIALS
TWILIO_ACCOUNT_SID = ''
TWILIO_AUTH_TOKEN = ''
TWILIO_PHONE_NUMBER = ''

# YTD Volume
GOOGLE_CREDENTIALS_BASE64=""
RANGE=""
SHEET_ID=""

## FOR PUSH NOTIFICATION
NEXT_PUBLIC_PUSH_PUBLIC_KEY='',
NEXT_PUBLIC_PUSH_PRIVATE_KEY='' 

# YTD Volume
GOOGLE_CREDENTIALS_BASE64=""
RANGE=""
SHEET_ID=""